<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--Set render engine for 360 browser-->
    <meta name="render" content="webkit">
    <title>about</title>
    <link rel="Shortcut Icon" href="http://localhost:8091/static/favicon.ico" />
</head>
<body>
    <!--[if lte IE 8]>  
        <div style="position:fixed;left:0;top:0;right:0;bottom:0;background:#000;opacity:0.5;z-index:100;"></div>
        <div style="width:200px;height:100px;position:fixed;left:50%;top:50%;margin-left:-100px;margin-top:-50px;text-align:center;background:#FFF28D;display:block;">亲！您的浏览器已经过时，请升级您的浏览器，推荐使用<a style="color:red;" href="https://www.baidu.com/link?url=gq8RIRlTX1-YUPFu571_UZMVdBlidToA_dqJzDxgkTM7ijyXCSh9RZxWQMel03cpUsaekqXDRxx16b561L1DlvhgASp0-NQYBloREVW0G9y&wd=&eqid=8031484500003d8a0000000658d4ea21">谷歌浏览器</a>，或者ie8以上及<a style="color:red;" href="https://www.baidu.com/link?url=XSb7p2RWWXgVb1hmkRNoyx5-0DrXEE4cW7iQ1zuqkYUdJKUuZGWZhO3GmVlIMk_zZETPGPlgSrr_Jj2s8hgcg330p9seq6396BsjYYcZ6JS&wd=&eqid=b2403c370000623f0000000658d4ee30">火狐浏览器！</a></div>
    <![endif]-->
    <div id="app"><app></app></div>
</body>
</html>